.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  form {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  